.custom-container {
  max-width: 1180px;
}
body {
  font-size: 16px;
}

.mainslider h2 {
  font-family: Josefin Sans;
}
.mainslider {
  font-size: 22px;
}
.title {
  font-family: Josefin Sans;
}
.productimage img {
  height: 200px;
}
.product {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.product a:hover .producttitle {
  text-decoration: underline;
}
.producttitle {
  font-family: lato;
}
.product-category {
  font-family: Josefin Sans;
  font-weight: normal;
}
.product button {
  max-width: 125px;
  align-self: center;
}

.mini-cart {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.basket {
  cursor: pointer;
}
a:hover {
  color: #fb2e86;
}
.breadcumb {
  font-family: Josefin Sans;
}
.cart-head,
.cart-single {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 70px;
}
.cart-single > div {
  display: flex;
  align-items: center;
}
button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: ease-out 0.4s;
}
button:hover {
  background-color: #000000;
  box-shadow: none;
}
.search button {
  box-shadow: inherit;
}

/*********** contact page *********/
.form-area form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  margin-top: 50px;
}
.form-area input,
.form-area textarea {
  font-size: 18px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #000;
}
.form-area label {
  margin-top: 26px;
}

.form-area .error {
  border-color: #ee4c7c;
}
